.welcomeHeading {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

.logoutButton {
  margin-left: 20px;
  margin-bottom: 15px;
}

.tableMainDiv {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  width: 65%;
  height: 420px;
  overflow: auto;
}

@media (max-width: 400px) {
  .welcomeHeading {
    display: block;
    margin-left: 10px;
  }

  .logoutButton {
    margin-left: 0;
    margin-top: 5px;
  }

  .tableMainDiv {
    width: 95%;
    height: 480px;
    margin-top: 0;
  }
}
